body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
     width:100%;
     border:1px solid #6366f1;
     border-radius: 3px;
     padding:10px;
     outline: none;
}

input:focus{
     border:1px solid #6366f1;

}

.container{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height:100vh
}

button{
     background-color: #6366f1;
     border:none;
     width: 100%;
     padding:10px;
     border-radius: 5px;
     font-size: 16px;
     color:#fff
}

.success{
     color:#22c55e
}

.error{
     color:#ef4444
}